# 리스트

리스트를 사용할때에는 대괄호[] 를 사용하여 만들 수 있다.<br/><br/>
비어있는 리스트를 만들면 실제 데이터는 존재하지 않지만 리스트라는 데이터타입의 변수를 만들 수 있다

In [3]:
BlankList = []
type(BlankList) #type()을 통해서 데이터 타입을 확인할 수 있다.

list

리스트를 만들 떄 각 항목의 데이터 타입은 같지 않아도 되며 데이터는 입력한 순서대로 지정되며 항목은 ,로 구분하게 된다.

In [4]:
#1번 학생의 국어, 영어, 수학 점수가 각각 90, 86, 87이라면
student1 = [90, 86, 87]
student1

[90, 86, 87]

In [6]:
student1[0] #student1의 값을 꺼내서 사용할 수 있다

90

In [7]:
student1[-1]    #python에서의 -1번째는 뒤에서 첫번째를 의미한다.

87

In [9]:
mixedList = [0, 2, 3.14, 'python', 'program', True, student1]   #다양한 형태를 넣은 리스트도 생성이 가능하다.

리스트는 더하거나 곱할 수 있다

In [11]:
list1 = [1, 2, 3, 4]
list2 = [10, 20, 30, 40]
listSum = list1 + list2
listSum #list1뒤에 list2가 붙어서 출력됨을 확인할 수 있다.

[1, 2, 3, 4, 10, 20, 30, 40]

In [12]:
lilili = list1 * 3      #리스트에 3번을 곱해 리스트가 3번 곱한만큼 반복하는걸 볼 수 있다.
lilili

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

리스트에서 값을 가져올떄 앞서 해본것 처럼 하나 하나 가져오는게 아닌 범위를 지정해 지정된 값만큼 데이터를 불러올 수 있다
- 리스트[시작점:끝점]
- 리스트[시작점:끝점:스탭]

In [13]:
listData = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(listData[0:3])
print(listData[:3]) #리스트에서 시작점이나 끝점을 적지 않으면 각각 0 과 마지막을 가르키게 된다.
print(listData[7:])
print(listData[::2])

[0, 1, 2]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [15]:
print(listData)
del listData[6]     #리스트는 del을 통해 값을 삭제할 수 있다. 여기서는 6번째 있는 6이 삭제되었음을 확인할 수 있다.
print(listData)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [17]:
listData1 =  [1, 2, 3, 4, 5]
print(5 in listData1)   # n in 리스트명 을 입력하여 찾고싶은 n값을 리스트에 존재하는지 bool값으로 반환되어 알 수 있다.
print(6 in listData1)

True
False

## 리스트 메서드
 
 - append() 리스트에서 항목 하나를 맨 마지막에 추가
 - insert() 리스트에서 특정 위치에 항목을 삽입 ex 리스트명.insert(1,'add') 리스트의 1번 자리에 'add' 라는 값을 추가
 - extend() 리스트에서 항목 여러 개를 맨 마지막에 추가   ex 리스트명.extend(['add1', 'add2']) 
 - remove() 입력값과 첫 번쨰로 일치하는 항목을 리스트에서 삭제
 - pop() 리스트의 마지막 항목을 제거한 후에 반환
 - index() 리스트에서 인자와 일치하는 첫 번째 항목의 위치를 반환 
 - count() 리스트에서 인자와 일치하는 항목의 개수를 반환
 - sort() 숫자나 문자열로 구성된 리스트 항목을 순방향으로 정렬
 - reverse() 리스트 항목을 끝에서부터 역순으로 정렬

In [18]:
# append()  
myFriends = ['James', 'Robert', 'Lisa', 'mary']
print(myFriends)
myFriends.append('Thomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'mary']
['James', 'Robert', 'Lisa', 'mary', 'Thomas']

In [19]:
# insert()
myFriends = ['James', 'Robert', 'Lisa', 'mary']
print(myFriends)
myFriends.insert(2, 'jaewoo')
print(myFriends)

['James', 'Robert', 'Lisa', 'mary']
['James', 'Robert', 'jaewoo', 'Lisa', 'mary']

In [20]:
#extend()   리스트형으로 입력해주자
myFriends = ['James', 'Robert', 'Lisa', 'mary']
print(myFriends)
myFriends.extend(['jae', 'woo'])
print(myFriends)

['James', 'Robert', 'Lisa', 'mary']
['James', 'Robert', 'Lisa', 'mary', 'jae', 'woo']

In [24]:
#remove()
myFriends = ['James', 'Robert', 'Lisa', 'mary']
print(myFriends)
myFriends.remove('Lisa')
print(myFriends)

['James', 'Robert', 'Lisa', 'mary']
['James', 'Robert', 'mary']

In [27]:
#count()
num = [1, 2, 3, 5, 6, 5, 3, 1, 8, 7, 5]
print(num)
countNum = num.count(5)
print(countNum)

[1, 2, 3, 5, 6, 5, 3, 1, 8, 7, 5]
3

In [33]:
#sort()
mixedList = ['1' , 'A', 'a', '8', 'U', 'i', 'J', '7', 'B']
mixedList.sort()
print(mixedList)

['1', '7', '8', 'A', 'B', 'J', 'U', 'a', 'i']

In [35]:
# reverse()
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]
num.reverse()
print(num)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# 튜플

튜플은 리스트와 비슷하게 데이터 여러 개를 하나로 묶는 데 이용합니다.<br/><br/>
튜플은 숫자, 문자열, 불, 리스트, 튜플, 세트, 딕셔너리 등으로 만들 수 있다.<br/><br/>
튜플의 속성은 리스트와 유사하지만 단, 튜플 데이터는 한 번 입력하면 그 이후에는 항목을 변경할 수 없다.

In [37]:
tuple1 = (1, 2, 3, 4)
tuple1

(1, 2, 3, 4)

In [38]:
type(tuple1)

tuple

In [40]:
tuple2 = 5, 6, 7, 8 #튜플은 소괄호를 사용하지 않고 튜플을 생성할 수 있다.
tuple2

(5, 6, 7, 8)

다음은 인자가 하나만 있는 튜플을 생성하는 방법이다.<br/><br/>
하나의 항목만 가진 튜플을 생성할 때는 항목을 입력한 후에 반드시 콤마를 입력해야 한다.<br/><br/>
소괄호의 유무에 상관없이 모두 콤마를 입력해야한다.

In [6]:
tuple3 = (9,)
tuple4 = 10,
print(tuple3)
print(tuple4)

(9,)
(10,)

In [8]:
tuple5 = (1,2,3,4)  #컴파일 오류
tuple5[1] = 5       #한번 생성된 튜플의 요서는 변경되지 않는다.

TypeError: 'tuple' object does not support item assignment

In [45]:
del.tuple5[1]   # 컴파일 오류 삭제 역시 불가능하다.

SyntaxError: invalid syntax (294072901.py, line 1)

In [49]:
tuple6 = ('a', 'b', 'c', 'a', 'd', 'e', 'f', 'a')
print(tuple6.index('c'))   #삭제하거나 변경하는 메서드는 사용하지 못하지만 요소를 변경하지 않는 메서드는 사용가능하다.
print(tuple6.count('a'))

2
3

# 세트

세트는 수학의 집합 개념을 파이썬에서 이용할 수 있도록 만든 데이터 타입이다. <br/><br/>
세트가 리스트, 튜플과 다른 점은 데이터의 순서가 없고 데이터를 중복해서 쓸 수 없다. <br/><br/>
세트는 앞서 사용한 메서드에 더해서 교집합, 합집합, 차집합을 구하는 메서드를 사용할 수 있다.

In [51]:
set1 = {1,2,3}
set11 = {1,4,2,3,3}   #세트에서는 순서가 존재하지 않고 데이터를 중복해서 쓸 수 없다.
print(set1)
print(set11)

{1, 2, 3}
{1, 2, 3, 4}

### 세트의 교집합, 합집합, 차집합 구하기

In [53]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}

print(A.intersection(B))    #집합 A에 대한 집합 B의 교집합
print(A.union(B))           #집합 A에 대한 집합 B의 합집합
print(A.difference(B))      #집합 A에 대한 집합 B의 차집합

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}

In [56]:
#메서드가 아닌 기호로 간단하게 사용할 수 있다.
print(A&B)      #집합 A에 대한 집합 B의 교집합
print(A|B)      #집합 A에 대한 집합 B의 합집합
print(A-B)      #집합 A에 대한 집합 B의 차집합

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}

### 리스트,튜플,세트 캐스팅

다른 언어들과 동일하게 원하는 타입을 씌워줌으로 쉽게 캐스팅이 가능하다.

In [2]:
a = [1,2,3,4,5] # a라는 이름의 리스트 생성
type(a)

list

In [4]:
b = tuple(a)
type(b)

tuple

In [5]:
c = set(a)
type(c)

set

## 딕셔너리
딕셔너리에는 각각의 key와 value값이 존재한다. 이처럼 딕셔너리에는 키와 벨류가 쌍으로 구성됨을 알 수 있다.<br/><br/>
리스트나 튜플 에서는 index 값을 이용하여 학목을 다뤘지만 딕셔너리는 키를 이용해 값을 다룬다. <br/><br/>
딕셔너리의 키는 임의로 지정된 수샂나 문자열이 될 수 있으며, value값으로는 어떤 데이터 타입도 사용이 가능하다.

In [1]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른", "덴마크":"코펜하겐"}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [2]:
country_capital["영국"] #영국의 value값인 런던이 출력된다.

'런던'

In [4]:
#value값이 리스트인 딕셔너리
dict_data = {"list_data1":[11,12,13], "list_data2":[21,22,23]}  
print(dict_data)
print(dict_data["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [7]:
#딕셔너리에 데이터 추가하고 변경하기
country_capital["독일"] = "베를린"  #키값이 존재하면 변경하고 없으면 추가된다.
country_capital["호주"] = "캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [8]:
del country_capital["덴마크"]   #원하는 키값을 삭제할 수 있다.
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

### 딕셔너리 메서드
 - keys() 딕셔너리에서 key 전체를 리스트 형태로 반환
 - values() 딕셔너리에서 value값 전체를 리스트 형태로 반환
 - items() 딕셔너리에서 key와 value값의 쌍을(key,vlue)처럼 튜플 형태로 반환
 - update() 딕셔너리에 데이터 추가
 - clear() 딕셔너리의 '모든' 항목 제거

In [11]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}
print(fruit_code.keys())
print(fruit_code.values())
print(fruit_code.items())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])
dict_values([101, 102, 103, 104, 105])
dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [12]:
#위에서 각각의 데이터 형태를 값으로 변환하지 못하게 하기위해 딕셔너리를 list로 캐스팅하여 데이터를 처리하면 편리하다.
print(list(fruit_code.keys()))
print(list(fruit_code.values()))
print(list(fruit_code.items()))

['사과', '배', '딸기', '포도', '바나나']
[101, 102, 103, 104, 105]
[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [13]:
#update()를 통한 새로운 데이터 추가
fruit_code2 = {"오렌지":106, "수박":107}
fruit_code.update(fruit_code2)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [14]:
#clear()를 통해 딕셔너리 내 모든 항목을 삭제할 수 있다.
fruit_code2.clear()
print(fruit_code2)

{}